body{
    background-color: aqua;
}
.first{
  margin-top: 100px;
   text-align: center;
   background-color: rgba(128, 128, 128, 0.726);
   padding: 20px;
}
button,label,input{
    margin: 10px;
}
button{
    border-radius: 9px;
    padding: 6px;
}
label{
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}